#about{
    margin:auto;
    width:65%;
}

/* img{
    width:50%;
} */
.figure-caption{
    color:var(--title)
}

p{
    font-size: 20px;
}

li{
    font-size: 20px;
}

@media (max-width: 768px) {
    #about{
        margin:auto;
        width:85%;
    }
    
  }
  