#experience{
    margin:  auto;
    width:65%;
}
.joblist-job-title{
    color:var(--title);
    font-size: 20px;
}

.joblist-job-company{
    color: var(--link);
    font-size: 20px;
}

@media (max-width: 768px) {
    #experience{
        margin:  auto;
        width:90%;
    }
  }
  